---
const pageTitle = "Astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<a href="/">Home</a>
        <a href="/about">关于</a>
		<a href="/blog">Blog</a>
		<a href="https://gitee.com/RingKenga/astro-tutorial" target="_blank">Gitee</a>
		<a href="https://github.com/kengatong/astor-tutorial" target="_blank">Github</a>
		<h1>我的 {pageTitle} 站点</h1>
		<h2>Hello world!</h2>
	</body>
</html>
